body{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	
}


.navbar{
	width: 100%;
	height: 80px;
	background-color: black;
}
.bottom{
    width: 100%;
    height: 670px;
    display: flex;
    }

.left{
	width: 35%;
	height: 100%;
	background-color:rgba(255, 102, 0, 0.12);;
	
}

.image{
	width: 181px;
	height: 181px;
	margin-left: 197px;
    margin-top: 173px;
}
.middle_left p{
	text-align: center;
	font-weight: bold;
	margin-left: 44px;
}
.lower_left p{
	text-align: center;
}
.right{
	width: 65%;
	height: 100%;
	background-color:#F5F5F5;
	padding-left: 108px;

}
label{
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 15px;
}
input{
	    width: 300px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
    border-radius: none;

}
button{
	border-radius: 15px;
    margin-top: 15px;
    height: 38px;
    border:none;
}
